* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  padding:0;
  background-color: rgba(200, 200, 200, 0.9);
  margin:0;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.fa-home {
  color: black;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background-color: white;
  border-radius: 2px;
  padding: 7px;
}

#button_id {
  width: 70px;
  height: 35px;
  font-size: 15px;
  border-radius: 2px;
  font-weight: bold;
  border: none;
  background-color: rgba(0, 160, 250, 1);
}

.navParent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainBoard {
  margin-top: 20px;
  justify-content: space-between;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}

.postBoardTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
  font-size: 25px;
}

.postBoardTitle > p {
  margin-top: 2px;
  margin-bottom: 7px;
}

.postBoardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.postContainer {
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  width: auto;
  height: auto;
  max-width: 300px;
  background-color: white;
  border-radius: 2%;
}

.imageContainer {
  width: auto;
  height: auto;
}

.postContainer:hover {
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.25);
}

.postTitleBox1 {
  max-width: 230px;
  display: flex;
  width: inherit;
  padding-left: 10px;
  color: rgba(0, 160, 250, 1);
  font-weight: bold;
}

.postTitleBox1 > p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.postTitleBox2 {
  max-width: 230px;
  font-size: 13px;
  display: flex;
  width: inherit;
  padding-left: 10px;
  color: rgba(0, 160, 250, 1);
  font-weight: bold;
}

.postTitleBox2 > p {
  margin-top: 2px;
  margin-bottom: 5px;
}

.newPostBoard {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
  width: 80%;
  flex-direction: column;
  font-size: 25px;
}

.newPostTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: none;
  font-size: 25px;
}

.newPostTitle > p {
  margin-top: 2px;
  margin-bottom: 7px;
}

.newPostContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#new_post_input_id {
  margin-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  height: 40px;
  border-radius: 2px;
}

.newPostButtonContainer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  flex-direction: row;
  justify-content: flex-start;
}

#new_post_button1 {
  width: 90px;
  height: 35px;
  font-size: 15px;
  border-radius: 2px;
  font-weight: bold;
  margin-right: 5px;
  border: none;
  background-color: rgba(0, 160, 250, 1);
}

#new_post_button1:hover {
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.25);
}

#new_post_button2 {
  width: 90px;
  height: 35px;
  font-size: 15px;
  margin-left: 5px;
  border-radius: 2px;
  font-weight: bold;
  border: none;
  background-color: rgba(199, 81, 80, 1);
}

#new_post_button2:hover {
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.25);
}

#deleteButton {
  width: 90px;
  height: 35px;
  font-size: 15px;
  border-radius: 2px;
  font-weight: bold;
  border: none;
  background-color: rgba(199, 81, 80, 1);
}

.deletePostHeader {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

#back {
  text-decoration: none;
  color: rgba(0, 160, 250, 1);
}

.editMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.editImageContainer {
  display: flex;
  width: 80%;
  height: auto;
  margin-top: 15px;
  justify-content: center;
}

.mainContentArea {
  display: flex;
  width: 60%;
  max-width: 60%;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.contentArea {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  border-radius: 2px;
  background-color: white;
}

#editTitle {
  padding-left: 10px;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#editTags {
  padding-left: 10px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#editContent {
  padding-left: 10px;
  font-size: 20px;
}

#editButton {
  width: 90px;
  height: 35px;
  font-size: 15px;
  border-radius: 2px;
  margin-top: 20px;
  border: none;
  background-color: rgba(199, 81, 80, 1);
}

#saveButton {
  width: 90px;
  height: 35px;
  font-size: 15px;
  border-radius: 2px;
  margin-top: 20px;
  border: none;
  background-color: rgba(0, 160, 250, 1);
}

#textarea1 {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  flex-direction: column;
  border: none;
  font-size: 25px;
  max-width: 100%;
  padding-left: 10px;
  max-height: 50px;
  height: 50px;
}

#textarea2 {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
  border: none;
  font-size: 20px;
  max-width: 100%;
  max-height: 50px;
  height: 50px;
}

#textarea3 {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
  align-items: center;
  flex-direction: column;
  border: none;
  padding-left: 10px;
  font-size: 15px;
  max-width: 100%;
  max-height: 50px;
  height: 50px;
}
